
<div class="welcome-container" routerLink="/" routerLinkActive="active">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center jumbotron">
			<div class="page-header">
				<h1>Welcome to Caliber Click. </h1>
				<p>Your home to refinance with confidence.</p>
			</div>
			<p class="welcome-content">Refinance your loan could mean cash in your pocket, or a lower rate and payments. We'll walk you through our online application
				to find out it refinancing is right for you.</p>
			<div class="lets-get-started">
				<div class="form-group">
					<button class="btn btn-default btn-primary">LET'S GET STARTED</button>
				</div>
			</div>
		</div>
	</div>
</div>
